body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 10px 0;
    z-index: 1000;
    transition: background 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: #575757;
    color: #fff;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background 0.3s;
}

.section-heading {
    position: relative;
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-heading::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 50%;
    height: 2px;
    background: white;
    transform: translateX(-50%);
}

.section-heading::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 100%;
    height: 4px;
    background: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
    transform: translateX(-50%);
}

#home {
    background: linear-gradient(to right, #6dd5fa, #2980b9);
}

.main-heading {
    font-size: 4rem;
    text-align: center;
    width: 50%;
    text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.5);
}

#about {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

#services {
    background: linear-gradient(to right, #76b852, #8DC26F);
}

#contact {
    background: linear-gradient(to right, #f7b42c, #fc575e);
}
